<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <nav th:fragment="menu-oyente">
    <div>
      <button type="button">Menu Oyente</button> <!--futuro botón de apertura y cierre del menú -->
    </div>
    <div>
      <ul>
        <li><a th:href="@{/#}">Playlist</a></li>
        <li><a th:href="@{/#}">Historial</a></li>
        <li><a th:href="@{/#}">Favoritos</a></li>
        <li><a th:href="@{/#}">Álbumes</a></li>
        <li><a th:href="@{/#}">Artistas</a></li>
      </ul>
    </div>
  </nav>
  </header>

  <header>
    <nav th:fragment="menu-artista">
      <div>
        <button type="button">Menu Artista</button> <!--futuro botón de apertura y cierre del menú -->
    </div>
    <div>
      <ul>
        <li><a th:href="@{/verPuntajes}">Puntajes</a></li>
        <li><a th:href="@{/#}">Estadísticas</a></li>
        <li><a th:href="@{/#}">Letras de canciones</a></li>
        <li><a th:href="@{/verCanciones}">Canciones</a></li><!--esta ruta ejecuta el metodo que muestra la vista de CANCIONES-->
        <li><a th:href="@{/#}">Álbumes</a></li>
      </ul>
    </div>
  </nav>

</body>
</html>